#aboutPage-Title {

    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 200px; */
    height: 25vh;
    width: 100%;
    padding: 2%;
    font-size: 25pt;


    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 4px;
    color: white;

    
    text-align: center;
    /* background-color: antiquewhite; */
    background-color: rgb(253, 253, 213);

    background-color: rgb(103, 139, 92);
    border-top: 2px solid rgb(51, 50, 50);

    
}

#aboutPage-Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 90vh; */
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    /* height: 150vh; */
    
    height: fit-content;
}




#aboutPage-Content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    padding-left: 2%;
    padding-right: 2%;
    gap: 2%;
    /* height: 25%; */
    height: 333px;
    width: 100%;
    /* background-color: blue; */
    
}

#aboutPage-Img-Container {
    margin-left: 0%;
    height: 80%;
    width: 95%;
    
}


#aboutPage-Body img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#aboutPage-Content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 80%;
    width: 50%;


    gap: 5%;
    height: 60%;
    height: fit-content;
    width: 100%;
    /* margin-bottom: 33%; */
    margin-bottom: 20%;

}

#aboutPage-top-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 694px;
    height: 950px;
    height: fit-content;
    gap: 20px;
    width: 93%;
    /* background-color: red; */
}

#about-Owen {
    display: flex;
    flex-direction: column;
    height: 300px;
    height: fit-content;
    width: 93%;
    letter-spacing: 2px;
    /* background-color: rgb(168, 168, 214); */
    /* border-bottom: 2px solid green; */
}

#about-Owen-Title {
    margin-top: 5%;
    font-size: 16pt;
    
}

#about-Owen-Title-2 {
    margin-top: 2%;
    font-size: 15pt;
}

#about-Owen p {
    
    font-size: 18px;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}


#about-Work {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    /* height: 50%; */
    height: 384px;
    height: fit-content;
    width: 98%;
    background-color: rgb(231, 223, 212);
}

#aboutWork-Text-1 {
    padding-top: 10%;
    height: fit-content;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
    /* background-color: aqua; */
}

#aboutWork-Text-2 {
    /* background-color: green; */
    margin-top: 0%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    height: fit-content;
    width: 100%;
    text-align: center;
    font-size: 14.5pt;

    letter-spacing: 1.5px;
}

#aboutPageBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    height: 500px;
    width: 100%;
    
    background-image: url(../images/simple_life_08.jpg);
    background-size: cover;
    
}

#aboutPageBanner button {
    margin-top: 15%;
    height: 70px;
    width: 200px;
    background-color: rgb(185, 122, 4);
    background-color: rgb(241, 104, 22);
    color: white;
    font-size: 15pt;
}

#aboutPageBanner button:hover {
    cursor: pointer;
    background-color: rgb(245, 141, 81);
}

#about-Goal {
    padding-top: 10%;
    padding-bottom: 10%;
    height: 50%;
    margin-top: 7%;
    height: 384px;
    height: fit-content;
    width: 93%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* gap: 5%; */
    background-color: rgb(231, 223, 212);
}
#aboutPage-Text-1 {
    width: 45%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-weight: bold;
    /* font-size: 25pt; */
    font-size: 22pt;

    letter-spacing: 1.5px;
}

#aboutPage-Text-2 {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    width: 45%;
    width: 100%;
    /* background-color: aqua; */
    font-size: 13pt;

    letter-spacing: 1.5px;

}

#aboutPage-Text-3 {
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    width: 45%;
    width: 100%;
    font-size: 13pt;
    /* background-color: aqua; */

    letter-spacing: 1.5px;
    

}

#aboutPage-Text-4 {
    margin-top: 5%;
    text-align: center;
    width: 45%;
    width: 100%;
    font-size: 13pt;
    /* background-color: aqua; */
    
    letter-spacing: 1.5px;
}

#aboutPage-Text-5 {
    margin-top: 2%;
    text-align: center;
    width: 45%;
    width: 100%;
    font-size: 16pt;
    font-weight: bold;
    color: rgb(131, 168, 131);
    /* background-color: aqua; */
    
    letter-spacing: 1.5px;
}

@media (max-width: 451px) {
    #aboutPage-top-row {
       
        gap: 30px;
        
    } 

    #aboutPage-Content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 130px;
        width: 100%;   
    }

    #about-Work {
        
        height: 550px;
        height: fit-content;
        
    }
    
}


@media (min-width: 451px) {
    #aboutPage-top-row {
        gap: 50px;
        /* background-color: blue; */
    } 

    #aboutPage-Content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 130px;
        width: 100%;
        
    }

    #about-Work {
        height: 550px;
        height: fit-content;
    }
    
}

@media (min-width: 600px) {

    #aboutPage-Content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 333px;
        width: 100%;
        
        
    }

    #aboutPage-top-row {
        /* background-color: rgb(106, 106, 192); */
    } 
    
}

@media (min-width: 768px) {
    #aboutPage-top-row {
        gap: 40px;
        
    } 

    #aboutWork-Text-2 {
        margin-top: 0%;
        padding-top: 5%;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 15%;
        height: fit-content;
        width: 100%;
        text-align: center;
        font-size: 14.5pt;
    
        letter-spacing: 1.5px;
    }
}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

    #aboutPage-Title {
        height: 200px;
        width: 100%;
        padding: 2%;
        font-size: 25pt;
    
    
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 4px;
        color: white;
    
        
        text-align: center;
        /* background-color: antiquewhite; */
    
        background-color: rgb(103, 139, 92);
        border-top: 2px solid rgb(51, 50, 50);
    
        
    }
    
    #aboutPage-Body {
        display: flex;
        align-items: center;
        /* height: 90vh; */
        height: fit-content;
        /* height: 2000px; */
        width: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 3px;
        /* background-color: rgb(47, 155, 155); */
    }
    
    #aboutPage-Content1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        /* background-color: blue; */
        background-color: rgb(126, 126, 139);
    }
    #aboutPage-Img-Container {
        margin-top: 2.5%;
        height: 85%;
        width: 70%;
        margin-bottom: 2.5%;
    }
    
    #aboutPage-Body img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    #aboutPage-Content2 {
        display: flex;
        justify-content: center;
        flex-direction: column;

        position: relative;
        margin-top: 5%;
        /* height: 80%; */
        height: fit-content;
        width: 100%;
        
        
    }

    #aboutPage-top-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 400px;
        height: fit-content;
        gap: 40px;
        width: 93%;
        /* background-color: rgb(16, 16, 133); */
    }

    #about-Owen {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
       
        height: 100%;
        width: 50%;

        height: 350px;
        height: 100%;
        background-color: rgb(231, 223, 212);
        
        /* width: 500px; */
        
    }

    #about-Owen-Title {
        padding-top: 10%;
        font-weight: bold;
        font-size: 22pt;
    }

    #about-Owen-Title-2 {
        padding-left: 4%;
        padding-right: 4%;
    }

    #about-Owen p {
        text-align: center;
        font-size: 18px;
        margin-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
    }
    
    #about-Work {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 5%;
        height: 100%;
        width: 50%;

        /* height: 350px; */
        height: 100%;
        background-color: rgb(231, 223, 212);
        
    }
    
    #aboutWork-Text-1 {
        margin-top: 5%;
        padding-top: 10%;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 22pt;
    }
    
    #aboutWork-Text-2 {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 22%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        
        letter-spacing: 1.5px;
    }

    #aboutPageBanner {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #aboutPageBanner button {
        margin-top: 0%;
        margin-right: 5%;
        height: 70px;
        width: 250px;
        background-color: rgb(185, 122, 4);
        background-color: rgb(241, 104, 22);
        color: white;
        font-size: 15pt;
    }
    
    #about-Goal {
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        gap: 5%;
        padding-left: 10%;
        padding-right: 10%;
        /* height: 400px; */
        height: fit-content;
    }
    #aboutPage-Text-1 {

        width: 45%;
        width: 100%;
        
        text-align: center;
        font-weight: bold;
        /* font-size: 25pt; */
        font-size: 25pt;
    
        letter-spacing: 1.5px;
    }
    
    #aboutPage-Text-2 {
        margin-top: 3%;
        padding-left: 1%;
        padding-right: 1%;
        text-align: center;
        /* width: 45%; */
        width: 100%;
        /* background-color: aqua; */
        font-size: 17pt;
    
        letter-spacing: 1.5px;
    
    }
    
    #aboutPage-Text-3 {
        margin-top: 2%;
        text-align: center;
        width: 45%;
        width: 100%;
        font-size: 15pt;
        /* background-color: aqua; */
    
        letter-spacing: 1.5px;
        
    
    }
    
    #aboutPage-Text-4 {
        margin-top: 2%;
        text-align: center;
        width: 45%;
        width: 100%;
        font-size: 15pt;
        /* background-color: aqua; */
        
        letter-spacing: 1.5px;
    }
    
    #aboutPage-Text-5 {
        
        text-align: center;
        width: 45%;
        width: 100%;
        font-size: 16pt;
        font-weight: bold;
        color: rgb(131, 168, 131);
        /* background-color: aqua; */
        
        letter-spacing: 1.5px;
    }


}


@media (min-width: 1500px) {
    #aboutPage-Title {
        height: 200px;
        width: 100%;
        padding: 2%;
        font-size: 25pt;   
    }

    #aboutPage-Body {
        display: flex;
        align-items: center;
        /* height: 90vh; */
        height: fit-content;
        /* height: 2000px; */
        /* height: 2500px; */
        width: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 3px;
        /* background-color: rgb(47, 155, 155); */
    }
    
    #aboutPage-Content1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        
        width: 100%;
        /* background-color: blue; */
        background-color: rgb(126, 126, 139);
        
    }

    #aboutPage-Content2 {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: fit-content;
        gap: 15%;
        width: 100%;
    }

    #aboutPage-Img-Container {
        margin-top: 2.5%;
        height: 85%;
        width: 70%;
        margin-bottom: 2.5%;
    }
    
    #aboutPage-Body img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #aboutPage-top-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        /* height: 460px; */
        
        height: fit-content;
        gap: 40px;
        width: 93%;
        
    }

    #about-Owen {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
       
        height: 100%;
        width: 50%;
        
        
    }

    #about-Work {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 5%;
        height: 100%;
        width: 50%;
        
        

    }


    #aboutWork-Text-2 {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 16%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        
        letter-spacing: 1.5px;
    }

    #aboutPageBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 800px;
        margin-top: 8%;
        margin-bottom: 8%;

    }

    #about-Goal {
        height: 50%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        gap: 5%;
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
        height: 520px;
    }
}


@media (min-width: 1800px) {
    #aboutPage-Title {
        height: 220px;
        width: 100%;
        padding: 2%;
        font-size: 25pt;   
    }

    #aboutPage-Body {
        display: flex;
        align-items: center;
        /* height: 90vh; */
        height: 100%;
        width: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 3px;
        
        /* background-color: rgb(47, 155, 155); */
    }
    
    #aboutPage-Content1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        
        width: 100%;
        /* background-color: blue; */
        background-color: rgb(126, 126, 139);
        
        
    }

    #aboutPage-Img-Container {
        margin-top: 2.5%;
        height: 85%;
        width: 70%;
        margin-bottom: 2.5%;
    }
    
    #aboutPage-Body img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #about-Goal {
        height: 50%;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        gap: 5%;
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
        height: 620px;
        
        width: 80%;
    }
}
