#contact-header {
    height: 4vh;
    /* background-color: rgb(0, 0, 0); */
}



#hero-image {
    position: relative;
}

#hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    


    height: 80vh;
    width: 100%;
    background-image: url("../images/simple_life_04.jpg");
    background-size: cover;
    background-position-y: 20%;
    background-attachment: fixed;

    

    text-align: center;
    font-size: 3em;
    color: white;
    
}

#hero-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#homePage-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
    width: 90%;
    /* background-color: rebeccapurple; */
    /* background-color: rgba(102, 51, 153, 0.055); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#homePage-intro div {
    text-align: center;
    font-size: 1.5em;
}

#homePage-intro p {
    padding: 3%;
    font-style: italic;
}

#homePage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */

    margin-top: 5%;
    margin-top: 2%;
    width: 90%;
    /* width: 100%; */
    /* background-color: white; */
}

#home-content-container1 {
    display: flex;
    justify-content: center;

    gap: 1%;
    margin-top: 4%;
    height: 100vh;
    width: 100%;
    /* background-color: aquamarine; */
}

#content1-description {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    align-items: center;
    text-align: center;
   
    /* height: 30%; */
    width: 25%;
    /* font-size: 2rem; */
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#content1-description1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 30%;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#content1-description p {
    font-style: italic;
}

#content1-desc-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 10%;
    height: 5%;
    width: 45%;
    background-color: rgb(241, 134, 62);
    color: white;
}

#content1-desc-contact:hover {
    cursor: pointer;
    background-color: rgb(247, 160, 102);
}

#content1-image {
    width: 75%;
    height: 90%;
}

#content1-image img {
    height: 100%;
    width: 100%;
}

/* WHY CHOOSE US CSS */

#reason-content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10%;
    justify-content: space-between;
    background-image: url("../images/simple_life_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#reason-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 0; /* Ensure the dimming effect is below other content */
}

.reason-descs {
    color: white;
    width: 40%;
    height: 100%;
    flex-direction: column;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative; /* Add position relative to allow z-index to work */
    z-index: 1; /* Ensure the text is above the dimming effect */
}

.reason-descs h3 {
    padding-bottom: 15%;
    font-size: 1.5em;
}

.custom-curve-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-curve-1 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 89px;
}

.custom-curve-1 .shape-fill {
    fill: #FDFDD5;
}

/* SERVICES SECTION */
#services-section {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #FDFDD5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#services-container {
    background-color: rgb(140, 190, 120);
    height: 70%;
    width: 80%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

#services-image {
    height: 100%;
    width: 80%;
    background-image: url("../images/simple_life_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(20px);
}

#services-desc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#services-desc h3 {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}

#plant-image {
    background-image: url("../images/plant_logo.png");
    width: 15%;
    height: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#services-desc button {
    background: none;
    outline: 0;
    border: 1px solid white;
    padding: 10px;
    transition: .4s;
    width: 40%;
    color: white;
}

#services-desc button:hover {
    background-color: white;
    color: rgb(140, 190, 120);
}

.custom-curve-2 {
    position: absolute;
    /* top: -12.8%; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-curve-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
    transform: rotateY(180deg);
}

.custom-curve-2 .shape-fill {
    fill: #FDFDD5;
}

#footer {
    height: 15vh;
    width: 100%;
    background-color: rgb(3, 3, 3);
}



@media (max-width: 600px) {
    #hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    
        height: 80vh;
        width: 100%;
        background-image: url("../images/simple_life_04.jpg");
        background-size: cover;
        /* background-position-y: 20%; */
        background-position: center;
        background-attachment: fixed;
    
        
    
        
        font-size: 3em;

        color: white;
        
    }
    
    #hero-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}

