#hiddenMobileNav {
        
    position: absolute;
    top: 0;
    display: block;
    display: flex;
    justify-content: center;
    
    /* height: 80vh; */
    height: 100%;
    
    width: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    background-color: rgb(183, 221, 161);
    background-color: rgb(98, 209, 131);
    background-color: rgb(227, 231, 163);
    z-index: 1;
}

.mobileNavLink-Container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5%;
    margin-top: 60%;
    justify-content: top;
    /* justify-content: space-evenly; */
    align-items: center;
    font-size: 18pt;
    font-size: 25pt;
    
}

.mobileLinks {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(27, 16, 6);
    /* font-weight: bold; */
}

.mobileLinks:hover {
    text-decoration-line: underline;
}


#contact-header {
    height: 4vh;
    /* background-color: rgb(0, 0, 0); */
}


#hero-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

    height: 80vh;
    height: 534px;
    width: 100%;
    background-image: url("../images/simple_life_11.jpg"), url("../images/simple_life_06.jpg");
    background-size: 100%, 0%;
    background-repeat: no-repeat, repeat;
    filter: blur(0px), blur(5px);
    
    
    /* background-position-x: center;
    background-position-y: 20%;
    background-attachment: fixed; */
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 8px;
    background-position: center;
    background-attachment: fixed;
    
}

#hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    background-color: rgba(0, 0, 0, 0.473);
   
}

#hero-image span {
    text-align: center;
    font-size: 3em;
    color: white;
    z-index: 0;
    /* font-size: 2em; */
}


#homePage-intro {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    margin-top: 5%;
    
    width: 100%;

    /* width previously 80% */

    /* remove the below if no background color all padding */
    
    padding-bottom: 3%;
    
    background-color: rgb(255, 243, 229);
    background-color: rgb(227, 238, 209);
    background-color: rgb(103, 139, 92);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

#homePage-intro div {
    margin-top: 5%;
    color: white;


    text-align: center;
    letter-spacing: 1px;
    font-size: 1.3em;
    padding-left: 5%;
    padding-right: 5%;
}

#homePage-intro p {
    font-size: 28pt;
    font-size: 22pt;
    font-size: 2.0em;
    color: rgb(230, 128, 34);
    color: white;
    letter-spacing: 2px;
    

    margin-top: 1%;
    text-align: center;
    padding: 1%;
    
    /* font-style: italic; */
    margin-bottom: 2%;
}

#homePage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    /* height: 100vh; */

    margin-top: 5%;
    margin-top: 2%;
    width: 90%;
    /* width: 100%; */
    /* background-color: white; */
}

#home-content-container1 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 0%;
    /* margin-top: 4%; */
    height: 100vh;
    height: 667.2px;
    width: 100%;

    margin-top: 15%;
   
}

#content1-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    
    width: 25%;

    /* remove if unapproved */
    height: 90%;
    background-color: rgb(209, 240, 180);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;



    margin-top: 0%;
    position: absolute;
    top: 60%;
    height: 40%;
    width: 100%;
    font-size: 1.3em;
    /* font-size: 10pt; */
}

#content1-description1 {
    display: flex;
    flex-direction: column;
    
    justify-content: end;
    
    height: 30%;
    width: 100%;
    /* font-size: 2.2rem; */
    font-size: 1.4em;
    
    text-align: center;
    
}

#content1-description p {
    font-size: 1.0em;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    letter-spacing: 1px;
}

#desc-contact-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}

#content1-desc-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.1em;
    margin-top: 10%;
    
    height: 5%;
    height: 100%;
    width: 45%;
    /* width: 100%; */
    background-color: rgb(241, 134, 62);
    color: white;
}

#content1-desc-contact:hover {
    cursor: pointer;
    background-color: rgb(247, 160, 102);
}

#content1-image {
    width: 75%;
    height: 90%;

    position: absolute;
    top: 0;
    height: 60%;
    width: 100%;
}

#content1-image img {
    height: 100%;
    width: 100%;
}




/* Added new pic --- */

#homePage-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    

    /* margin-top: 5%; */
    margin-top: 2%;
    width: 90%;
    
    
    /* width: 75%; */
}

#home-content-container2 {
    display: flex;
    justify-content: center;
    
    gap: 0%;
    margin-top: 4%;
    height: 100vh;
    width: 100%;

    height: 667.2px;
    
    position: relative;
}

#content2-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
    
    
    
    background-color: rgb(209, 240, 180);
    /* height: 75%; */
    /* width: 35%; */
    height: 54%;
    width: 90%;
    
    position: absolute;
    /* top: 7%; */
    
    top: 45%;
    /* left: 45%;
    left: 54%; */
    left: 12%;
    


    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

#content2-description2 {
    display: flex;
    flex-direction: column;
    
    justify-content: end;
    
    height: 30%;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    /* text-align: left; */
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    
}

#content2-description p {
    /* font-size: 1.2em; */
    font-size: 1.3em;
    margin-top: 5%;
    text-align: center;
    /* text-align: left; */
    letter-spacing: 1px;
}

#desc-contact-container2 {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
}
#content2-desc-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.1em;
    margin-top: 10%;
    
    height: 5%;
    height: 100%;
    width: 45%;
    /* width: 100%; */
    background-color: rgb(241, 134, 62);
    color: white;
}

#content2-desc-contact:hover {
    cursor: pointer;
    background-color: rgb(247, 160, 102);
}

#content2-image {
    height: 55%;

    /* NEW */
    width: 55%;
    width: 90%;
    position: absolute;
    left: 0%;
    /* left: 8%; */
}

#content2-image img {
    height: 100%;
    width: 100%;
}




/* Work on 8/5 */


#services-section {
    background-color: black;
    width: 100%;
    /* height: 100vh; */
    height: 896px;
    position: relative;
    background-color: #FDFDD5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#services-container {
    height: 90%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: white;
    font-family: "Sorts Mill Goudy", serif;
    
}



#services-desc {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(140, 190, 120);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 25px solid green;
    border-bottom: 25px solid rgb(103, 139, 92);
    border-radius: 25px;



    
    height: 50%;
    width: 80%;
   
    
    
}

#services-desc span {
    
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    font-weight: 20;
}

#services-desc button {
    background: none;
    text-wrap: nowrap;
    outline: 0;
    border: 1px solid white;
    padding: 10px;
    transition: .4s;
    width: fit-content;
    color: white;
    
    border-radius: 50px;
}

#services-desc button:hover {
    background-color: white;
    color: rgb(140, 190, 120);
}

.serviceMotto {
    /* font-family: "Pacifico", cursive; */
    letter-spacing: 1px;
}

.littleMower {
    display: flex;
    justify-content: center;
    
    
    height: 40%;
    width: 40%;
    position: absolute;
    left: 0;
    bottom: -20%;
}

.littleMower img {
    height: 100%;
    width: 100%;
    object-fit: none;
    object-fit: cover;
}

#plant-image {
    background-image: url("../images/plant_logo.png");
    width: 15%;
    height: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#projects-section {
    width: 100%;
    /* height: 80vh; */
    height: 716.8px;
    /* height: 534px; */
    font-size: 2em;
    color: white;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 200;
}

#projects-content {
    position: relative;
    width: 100%;
    /* height: 80vh; */
    height: 716.8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10%;
    gap: 5%;
    text-align: center;
    
    
    background-image: url("../images/simple_life_06.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

#projects-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the dimming effect is below other content */
}

#projects-section button {
    
    letter-spacing: 2px;
    background: none;
    outline: 0;
    border: 1px solid white;
    /* padding: 12px; */
    /* padding: 1%; */
    padding: 12px;
    transition: .4s;
    width: 15%;
    width: 175px;
    color: transparent; /* Transparent text */
    border-radius: 50px;
    color: white;

    font-size: 16pt;
}

#projects-section button:hover {
    background-color: white;
    color: black;
}

#projects-section button:active {
    margin: 10px;
}


#contact-section {
    width: 100%;
    /* height: 130vh; */
    height: 1164.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-section {
    
    background-color: white;
    height: 80%;
    width: 45%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: red; */
    width: 95%;
}


#form-section span {
    font-size: 2.5rem;
    /* padding-bottom: 40px; */
    padding-bottom: 12%;
    /* padding-bottom: 0%; */
    font-family:'Times New Roman', Times, serif;
    color: black;
}


#form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 80%;
}

#form-container button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    width: 20%;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    border: none;
    transition: .2s;
    letter-spacing: 2px;

    
    
}

#form-container button:hover {
    background-color: rgb(200, 200, 200);
}

#form-container input, textarea {
    font-size: 18px;
    padding: 10px;
    display: block;
    outline: none;
    transition: .2s;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.first-last {
    display: flex;
    gap: 10px;
    width: 100%;
}

.first-last div {
    width: 50%;
}


#footer {
    /* height: 50vh; */
    height: 448px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(103, 139, 92);

    
    
}

.footer-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    
    align-items: center;
}

.footer-sections span, a {
    display:block;
    font-size: 1.1em;
}


















@media (min-width: 1600px) {

    #hiddenMobileNav {
        
        position: absolute;
        top: 0;
        display: block;
        display: flex;
        justify-content: center;
        
        /* height: 80vh; */
        height: 100%;
        
        width: 100%;
        background-color: rgba(0, 0, 0, 0.267);
        background-color: rgb(183, 221, 161);
        background-color: rgb(98, 209, 131);
        background-color: rgb(227, 231, 163);
        z-index: 1;
    }

    .mobileNavLink-Container {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5%;
        margin-top: 60%;
        justify-content: top;
        /* justify-content: space-evenly; */
        align-items: center;
        font-size: 18pt;
        font-size: 25pt;
        
    }

    .mobileLinks {
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(27, 16, 6);
        /* font-weight: bold; */
    }

    .mobileLinks:hover {
        text-decoration-line: underline;
    }

    #hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    
        height: 80vh;
        width: 100%;
        background-image: url("../images/simple_life_04.jpg");
        background-size: cover;
        /* background-position-y: 20%; */
        background-position: center;
        background-attachment: fixed;
    
        
    
        
        /* font-size: 3em;

        color: white; */
        
    }
    
    #hero-image span {
        font-size: 2.5em;
    }

    #home-content-container1 {
        margin-top: 15%;
        position: relative;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
    }

    #content1-description {
        margin-top: -5%;

        position: absolute;
        top: 61%;
        height: 40%;
        width: 100%;
        font-size: 10pt;
    }

    #content1-description1 {
        display: flex;
        /* text-align: left; */
        text-align: center;
        font-size: 13pt;
    }

    #content1-description p {
        /* text-align: left; */
        margin-top: 2%;
        text-align: center;
    }

    #content1-image {
        position: absolute;
        top: 0;
        height: 60%;
        width: 100%;
    }


    #desc-contact-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20%;
    }

    #content1-desc-contact {
        /* height: 25%; */
        height: 100%;
        font-size: 14pt;

    }

    #services-section {
        background-color: black;
        /* margin-top: -10%; */
        width: 100%;
        height: 110vh;
        position: relative;
        background-color: #FDFDD5;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #services-container {
        display: flex;
        flex-direction: column;
        height: 90%;
        
    }

    #services-desc {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 50%;
        width: 80%;
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: rgb(140, 190, 120);
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
        border-bottom: 25px solid green;
        border-bottom: 25px solid rgb(103, 139, 92);
        border-radius: 25px;
    }
    
    #services-desc span {
        
        font-size: 1.5em;
        text-align: center;
        width: 100%;
        font-weight: 20;
    }
    
    .serviceMotto {
        font-family: "Pacifico", cursive;
        letter-spacing: 1px;
    }
    
    .littleMower {
        display: flex;
        justify-content: center;
        
        height: 20%;
        width: 40%;
        position: absolute;
        left: 0;
        bottom: -10%;
    }
    
    .littleMower img {
        height: 100%;
        width: 100%;
        object-fit: none;
    }
    
    #plant-image {
        background-image: url("../images/plant_logo.png");
        width: 15%;
        height: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    #services-desc button {
        background: none;
        outline: 0;
        border: 1px solid white;
        padding: 10px;
        transition: .4s;
        width: 40%;
        color: white;
        
        border-radius: 50px;
    }
    
    #services-desc button:hover {
        background-color: white;
        color: rgb(140, 190, 120);
    }





















    #projects-content {
        gap: 10%;
    }

    #form-section {
        
        width: 95%;
    }

    #footer {
        height: 50vh;
        display: flex;
        flex-direction: column;
        
    }
}

@media (min-width: 768px) {

    #hero-image span {
        text-align: center;
        font-size: 2.5em;
        padding-left: 1.5%;
        padding-right: 1.5%;
        color: white;
        z-index: 0;
        /* font-size: 2em; */
    }

    #homePage-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    
        margin-top: 5%;
        margin-top: 2%;
        width: 75%;
        /* width: 100%; */
        /* background-color: white; */
    }

    #content1-desc-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 0.9em;
        margin-top: 4%;
        
        
        height: 80%;
        width: 30%;
        background-color: rgb(241, 134, 62);
        color: white;
    }

    #homePage-content-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
        width: 75%;
    }

    #content2-image {
        height: 70%;
    }

    #content2-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding-left: 6%;
        padding-right: 6%;
        
        
        
        background-color: rgb(209, 240, 180);
        height: 54%;
        width: 75%;
        
        position: absolute;
        /* top: 45%; */
        top: 55%;
        left: 20%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
    }

    #desc-contact-container2 {
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
    }
    #content2-desc-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 1.1em;
        margin-top: 10%;
        
        height: 5%;
        height: 100%;
        width: 45%;
        /* width: 100%; */
        background-color: rgb(241, 134, 62);
        color: white;
    }


}


@media (min-width: 992px) {

    .mobileNavLink-Container {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5%;
        margin-top: 30%;
        justify-content: top;
        /* justify-content: space-evenly; */
        align-items: center;
        font-size: 18pt;
        font-size: 25pt;
        
    }

    #hero-image span {
        text-align: center;
        font-size: 2.5em;
        padding-left: 1.5%;
        padding-right: 1.5%;
        color: white;
        z-index: 0;
        /* font-size: 2em; */
    }

    #homePage-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    
        margin-top: 5%;
        margin-top: 2%;
        width: 65%;
        /* width: 100%; */
        /* background-color: white; */
    }

    #content1-desc-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 0.9em;
        margin-top: 4%;
        
        
        height: 80%;
        width: 30%;
        background-color: rgb(241, 134, 62);
        color: white;
    }

    #homePage-content-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
        width: 65%;
    }

    #content2-image {
        height: 70%;
    }

    #content2-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding-left: 6%;
        padding-right: 6%;
        
        
        
        background-color: rgb(209, 240, 180);
        height: 54%;
        width: 75%;
        
        position: absolute;
        /* top: 45%; */
        top: 55%;
        left: 20%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
    }

    #desc-contact-container2 {
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
    }
    #content2-desc-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 1.1em;
        margin-top: 10%;
        
        height: 5%;
        height: 100%;
        width: 45%;
        /* width: 100%; */
        background-color: rgb(241, 134, 62);
        color: white;
    }
    
    
}

@media (min-width: 1200px) {

#hiddenMobileNav {
    display: none;
}


    
#contact-header {
    height: 4vh;
    /* background-color: rgb(0, 0, 0); */
}

#hiddenMobileNav {
  display: none;
}

#hero-image {
    position: relative;
}

#hero-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

    /* height: 80vh; */

    height: 90vh;
    height: 666px;
    width: 100%;
    
    background-image: url("../images/simple_life_11.jpg"), url("../images/simple_life_06.jpg");

    
    /* background-size: 70%, 45%; */
    background-size: 80%, 40%;
    background-repeat: no-repeat, repeat;
    
    filter: blur(0px), blur(5px);
    
    
    background-position-x: center;
    background-position-y: 20%;
    background-attachment: fixed;
    
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 8px;
    
    
    /* text-align: center;
    font-size: 3em;
    color: white; */
    
}

#hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    background-color: rgba(0, 0, 0, 0.473);
   
}

#hero-image span {
    display: flex;
    justify-content: center;

    width: 70%;
    padding: 2%;
    text-align: center;
    font-size: 3em;
    color: white;
    z-index: 0;
}

#homePage-intro {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    margin-top: 2%;
    
    width: 100%;

    /* width previously 80% */

    /* remove the below if no background color all padding */
    /* padding-left: 5%;
    padding-right: 5%; */
    padding-bottom: 3%;
    
    background-color: rgb(255, 243, 229);
    background-color: rgb(227, 238, 209);
    background-color: rgb(103, 139, 92);

    background-color: rebeccapurple;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

#homePage-intro div {

    /* remove padding if unapproved */
    margin-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;

    /* padding-left: 5%;
    padding-right: 5%; */
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.3em;
}

#homePage-intro p {
    font-size: 28pt;
    color: rgb(230, 128, 34);
    color: white;
    letter-spacing: 2px;
    

    margin-top: 1%;
    text-align: center;
    padding: 1%;
    margin-bottom: 2%;
}

#homePage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    /* height: 100vh; */

    margin-top: 5%;
    margin-top: 2%;
    width: 90%;
    /* width: 100%; */
    /* background-color: white; */
}

#home-content-container1 {
    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 0%;
    margin-top: 4%;
    height: 100vh;
    width: 100%;
    height: 740px;

   
    
    /* background-color: aquamarine; */
}

#content1-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    height: 90%;
    width: 25%;
    background-color: rgb(209, 240, 180);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;


    /* This fixes the baseline mobile css*/
    position: relative;
    margin-top: 0%;
    top: 0%;
    font-size: 1em;
    /**/
}

#content1-description1 {
    display: flex;
    flex-direction: column;
    
    justify-content: end;
    
    height: 30%;
    width: 90%;
    font-size: 2.2rem;
    text-align: center;

    /* text-align: left; */

    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    
}

#content1-description p {
    font-size: 1.2em;
    margin-top: 5%;
    width: 90%;
    /* text-align: left; */
    /* font-size: 20px; */
    /* font-style: italic; */
    
    text-align: center;
    letter-spacing: 1px;
}

#desc-contact-container {
    display: flex;
    justify-content: center;


    width: 100%;
    height: 8%;
}
#content1-desc-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.1em;
    margin-top: 10%;
    
    height: 5%;
    height: 95%;
    width: 55%;
    /* width: 100%; */
    background-color: rgb(241, 134, 62);
    color: white;
}

#content1-desc-contact:hover {
    cursor: pointer;
    background-color: rgb(247, 160, 102);
}

#content1-image {
    position: relative;
    width: 75%;
    height: 90%;
}

#content1-image img {
    height: 100%;
    width: 100%;
}




/* Added new pic --- */

#homePage-content-2 {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    /* align-items: center; */
    

    margin-top: 5%;
    margin-top: 2%;
    width: 90%;
    
    /* width: 75%; */
}

#home-content-container2 {
    display: flex;
    justify-content: center;
    
    gap: 0%;
    margin-top: 4%;
    height: 100vh;
    width: 100%;
    height: 740px;

    /* width: 85%; */

    /* background-color: aquamarine; */
    
    position: relative;
    /* border: 1px solid blue; */
    
}

#content2-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: center;
    text-align: center;
    
   
    /* height: 30%; */
    padding-left: 6%;
    padding-right: 6%;
    width: 65%;
    


    /* previous width prior to 65 was 35 */
    /* width: 35%; */
    

    /* remove if unapproved */
    height: 90%;
    background-color: rgb(203, 223, 197);
    background-color: rgb(209, 240, 180);
    /* background-color: rgb(236, 248, 131); */
    
    
    height: 75%;
    width: 35%;
    position: absolute;
    top: 7%;
    left: 45%;
    left: 54%;
    


    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

#content2-description2 {
    display: flex;
    flex-direction: column;
    
    justify-content: end;
    
    height: 30%;
    width: 100%;
    font-size: 2.2rem;
    margin-top: 15%;
    text-align: center;
    /* text-align: left; */
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    
}

#content2-description p {
    font-size: 1.2em;
    margin-top: 5%;
    text-align: center;
    /* text-align: left; */
    letter-spacing: 1px;
}

#desc-contact-container2 {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
}
#content2-desc-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.1em;
    margin-top: 10%;
    
    height: 5%;
    height: 100%;
    width: 55%;
    /* width: 100%; */
    background-color: rgb(241, 134, 62);
    color: white;
}

#content2-desc-contact:hover {
    cursor: pointer;
    background-color: rgb(247, 160, 102);
}

#content2-image {
    width: 75%;
    height: 90%;

    /* NEW */
    width: 55%;
    position: absolute;
    left: 0%;
    left: 8%;
}

#content2-image img {
    height: 100%;
    width: 100%;
}




























/* WHY CHOOSE US CSS */

#reason-content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10%;
    justify-content: space-between;
    background-image: url("../images/simple_life_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#reason-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 0; /* Ensure the dimming effect is below other content */
}

.reason-descs {
    color: white;
    width: 40%;
    height: 100%;
    flex-direction: column;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative; /* Add position relative to allow z-index to work */
    z-index: 1; /* Ensure the text is above the dimming effect */
}

.reason-descs h3 {
    padding-bottom: 15%;
    font-size: 1.5em;
}

.custom-curve-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-curve-1 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 89px;
}

.custom-curve-1 .shape-fill {
    fill: #FDFDD5;
}

/* SERVICES SECTION */
#services-section {
    background-color: black;
    width: 100%;
    /* height: 100vh; */
    height: 740px;
    position: relative;
    background-color: #FDFDD5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#services-container {
    /* background-color: rgb(140, 190, 120); */
    height: 70%;
    width: 100%;
    font-family: "Sorts Mill Goudy", serif;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: white;
    /* background-color: black; */
}

#services-image {
    height: 100%;
    width: 80%;
    background-image: url("../images/simple_life_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#services-desc {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(140, 190, 120);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 25px solid green;
    border-bottom: 25px solid rgb(103, 139, 92);
    border-radius: 25px;
}

#services-desc span {
    
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    font-weight: 20;
}

#services-desc button {
    cursor: pointer;
}

.serviceMotto {
    /* font-family: "Pacifico", cursive; */
    letter-spacing: 1px;
}

.littleMower {
    display: flex;
    justify-content: center;
    
    height: 20%;
    width: 40%;
    position: absolute;
    left: 0;
    bottom: -10%;
}

.littleMower img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

#plant-image {
    background-image: url("../images/plant_logo.png");
    width: 15%;
    height: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#services-desc button {
    background: none;
    outline: 0;
    border: 1px solid white;
    padding: 10px;
    transition: .4s;
    width: 40%;
    color: white;
    
    border-radius: 50px;
}

#services-desc button:hover {
    background-color: white;
    color: rgb(140, 190, 120);
}

.custom-curve-2 {
    position: absolute;
    /* top: -12.8%; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-curve-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
    transform: rotateY(180deg);
}

.custom-curve-2 .shape-fill {
    fill: #FDFDD5;
}

/* PROJECTS SECTION */

#projects-section {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 80vh;
    height: 592px;
}

#projects-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    gap: 58%;
    text-align: center;
    /* justify-content: space-between; */
    justify-content: center;
    background-image: url("../images/simple_life_06.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

#projects-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the dimming effect is below other content */
}

#projects-section {
    font-size: 3em;
    color: white;
    font-family: "Sorts Mill Goudy", serif;
    
    font-weight: 200;
}

#projects-section button {
    
    letter-spacing: 2px;
    background: none;
    outline: 0;
    border: 1px solid white;
    /* padding: 12px; */
    /* padding: 1%; */
    padding: 12px;
    transition: .4s;
    width: 15%;
    width: 175px;
    color: transparent; /* Transparent text */
    border-radius: 50px;
    color: white;

    font-size: 16pt;
}

#projects-section button:hover {
    background-color: white;
    color: black;
}

#projects-section button:active {
    margin: 10px;
}

/* CONTACT SECTION */

#contact-section {
    width: 100%;
    height: 130vh;
    height: 962px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    /* padding-top: 5%; */
    background-color: white;
    
    height: 80%;
    width: 45%;
    margin-top: 5%;
    
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 15px 15px 20px 15px rgba(0, 0, 0, 0.2);

    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.2);
}

#form-section span {
    font-size: 2.5rem;
    padding-bottom: 5%;
    font-family:'Times New Roman', Times, serif;
    color: black;
}


#form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 80%;
}

#form-container button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    width: 20%;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    border: none;
    transition: .2s;
    letter-spacing: 2px;

    
    
}

#form-container button:hover {
    background-color: rgb(200, 200, 200);
}

#form-container input, textarea {
    font-size: 18px;
    padding: 10px;
    display: block;
    outline: none;
    transition: .2s;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.first-last {
    display: flex;
    gap: 10px;
    width: 100%;
}

.first-last div {
    width: 50%;
}

#footer {
    /* height: 30vh; */
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(103, 139, 92);
}

.footer-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    
    align-items: center;
}

.footer-sections span, a {
    display:block;
    font-size: 1.1em;
}
    
}

@media (min-width: 1600px) {
    #hero-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        /* height: 80vh; */
    
        height: 90vh;
        height: 900px;
        width: 100%;
        
        background-image: url("../images/simple_life_11.jpg"), url("../images/simple_life_06.jpg");
    
        
        /* background-size: 70%, 45%; */
        background-size: 80%, 40%;
        background-repeat: no-repeat, repeat;
        
        filter: blur(0px), blur(5px);
        
        
        background-position-x: center;
        background-position-y: 20%;
        background-attachment: fixed;
        
        
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 8px;
        
        
        /* text-align: center;
        font-size: 3em;
        color: white; */
        
    }

    #homePage-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* align-items: center; */
        /* height: 100vh; */
    
        margin-top: 5%;
        margin-top: 2%;
        width: 70%;
        /* width: 100%; */
        /* background-color: white; */
    }
    
    #home-content-container1 {
        display: flex;
        justify-content: center;
        flex-direction: row;
    
        gap: 0%;
        margin-top: 4%;
        height: 100vh;
        width: 100%;
        height: 740px;
    
       
        
        /* background-color: aquamarine; */
    }
}