
#service-intro {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    /* if would like to use services images remove the justify center below*/

    /* justify-content: center; */
    align-items: center;


    /* background-color: rgb(216, 255, 215); */
    /* background-color: rgb(233, 214, 152); */
    /* background-color: rgb(224, 183, 94); */
    background-color: rgb(253, 253, 213);
    /* padding: 3%; */
}

#service-images {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* gap: 1%; */
    height: 35%;
    width: 100%;
    /* border: 1px solid black; */
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.service-img {
    margin-top: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    /* width: 32%; */
    width: 10%;
    background-color: yellow;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px black;
}

.service-img img {
    border-radius: 50%;
    height: 90%;
    width: 80%;
    
}

#intro-title {
    margin-top: 2%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
}

#intro-details {
    font-style: italic;
    font-size: 1.5rem;
}

#intro-quote {
    margin-top: 1%;
    font-size: 1.1rem;
}

#main-service-img {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
    height: 20%;
    width: 10%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px black;
}

#main-service-img img {
    border-radius: 50%;
    height: 90%;
    width: 60%;
}

#services-provided {
    height: 300vh;
    
    /*Can remove the height for it just to fit content but gap wont work as a result so will need margin tops*/
    width: 100%;

    margin-top: 5%;
    display: flex;
    gap: 2%;
    flex-direction: column;
    
    /* justify-content: center;
    align-items: center; */

    /* background-color: aqua; */
    
}

#service1-content {
    height: 80vh;
    width: 100%;

    /* margin-left: 0%; */
    display: flex;
    
    /* background-color: yellow; */
}

#service1-img {
    margin-left: 5%;
    height: 100%;
    width: 50%;
}

#service1-img img {
    height: 100%;
    width: 100%;
    
}

#service1 {
    height: 50%;

    /* background-color: red; */

    width: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 2%;
}



#services-title {
    font-size: 2rem;
    font-style: italic;
    /* color: orange; */
}

#service-list {
   display: flex;
   flex-direction: column;
   width: 100%;

   margin-top: 3%;
   font-size: 1.5rem;
   justify-content: flex-start;
   padding-left: 10%;
    
}

#service1 button {
    margin-left: 10%;
    padding: .5%;
    width: fit-content;
}

#orderedList {
    
    font-weight: bold;
}