
#service-intro {
    height: 75vh;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    /* if would like to use services images remove the justify center below*/

    /* justify-content: center; */
    align-items: center;


    /* background-color: rgb(216, 255, 215); */
    /* background-color: rgb(233, 214, 152); */
    /* background-color: rgb(224, 183, 94); */
    background-color: rgb(253, 253, 213);
    
    /* background-color: rgb(94, 160, 94);
    background-color: rgb(140, 190, 120);
    background-color: rgb(141, 140, 139); */

    /* padding: 3%; */

}

#service-images {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* gap: 1%; */
    height: 35%;
    width: 100%;
    /* border: 1px solid black; */
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;

    margin-top: 2%;
}

.service-img {
    margin-top: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    /* width: 32%; */
    width: 10%;
    background-color: yellow;
    background-color: rgb(255, 255, 255);
    /* border-radius: 50%; */
    box-shadow: 0px 0px 10px 0px black;

    /* border-bottom: 10px solid saddlebrown; */

    border: 15px solid rgb(228, 195, 171);
    
    /* box-shadow: 0px 0px 11px 15px rgb(228, 195, 171); */
}

.service-img:hover {
    cursor: pointer;
    /* box-shadow: 0 0 20px rgb(8, 70, 8); */
    
}

.service-img img {
    border-radius: 50%;
    height: 90%;
    width: 80%;
    
}

#intro-title {
    
    text-align: center;
    margin-top: 2%;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 2.2rem;
}

#intro-details {
    text-align: center;
    /* font-style: italic; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    

    margin-top: 2%;
    
}

#servicePageBreak {
    /* width: 90%;
    height: 5%;
    background-color: black;
    background-color: rgb(43, 104, 28); */
    position: relative;
    margin-top: 4.5%;
    width: 80%;
    height: 0.2%;
    background-color: black;
    background-color: rgb(43, 104, 28);
    /* background-image: url("https://www.publicdomainpictures.net/pictures/410000/nahled/grass-background-clipart.png"); */
    background-image: url(../images/background_grass.png);
    
    background-size: contain;
    height: 3%;


}


#littleMower {
    position: absolute;
    top: -400%;
    left: 0%;
    height: 600%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/orange_mower2.png");
    background-size: cover;
    
    animation-duration: 60s;
    /* animation-duration: 10s; */
    animation-iteration-count: calc(10);
    animation-name: mow-lawn;

}

@keyframes mow-lawn {
    from {
        left: 0%;
    }

    50% {
        left: 88%;
        
        
    }

    /* 99.9% {
        
        
 
    } */

    /* 10% {
        left: 10%;
    }

    20% {
        left: 20%;
    }

    30% {
        left: 30%;
    }

    40% {
        left: 40%;
    }

    50% {
        left: 50%;
    }

    60% {
        left: 60%;
    }

    70% {
        left: 70%;
    }

    80% {
        left: 80%;
    }

    90% {
        left: 90%;
    }

    100% {
        left: 100%;
    } */

    to {
        /* transform: rotateY(180deg); */
        left: 0%;
        transform: rotateY(180deg)
    }
}

#placingTurf {
    position: absolute;
    top: 0;
    
    height: 100%;
    width: 100%;
    background-color: rgb(155, 204, 80);
    /* background-image: url("https://media.istockphoto.com/id/1158274915/vector/grass-seamless-realistic-texture-green-lawn-field-or-meadow-vector-background-summer-or.jpg?s=612x612&w=0&k=20&c=7AAqciofj43K5kmQxxOBCO1Rj0YUuFZdcTuO9XwZOsc="); */
    background-image: url("../images/background_turf.jpg");
    background-size: contain;
    animation-duration: 10s;
    /* animation-iteration-count: calc(5); */
    animation-name: place-new-lawn;
}

@keyframes place-new-lawn {

    from {
        width: 10%;
    }

    to {
        width: 100%;
    }
}

/* #placingTurf img{
    position: absolute;
    right: 0;
    height: 100%;
    
} */

#servicePageBreakSnow {
    /* width: 90%;
    height: 5%;
    background-color: black;
    background-color: rgb(43, 104, 28); */
    position: relative;
    margin-top: 2%;
    margin-top: 4.5%;
    width: 80%;
    height: 0.2%;
    background-color: black;
    background-color: rgb(255, 255, 255);
    
    /* border: 3px solid rgb(173, 173, 229); */

 
    border-radius: 15px;
    height: 2%;


}

#noSnowShovel {
    display: none;
}
#snowShovel {
    /* position: absolute;
    top: -500%;
    left: 47.5%;
    height: 600%;
    width: 7%;
    background-color: rgba(0, 0, 0, 0);
    background-image: ("../images/orange_snow_shovel-2.png");
    background-size: cover;
    animation-duration: 2s;
    animation-iteration-count: calc(10);
    animation-name: shovel; */
}

#snowShovel {
    position: absolute;
    top: -800%;
    left: 47.5%;
    height: 900%;
    width: 10%;
    background-color: rgba(0, 0, 0, 0);
    
    background-image: url("../images/orange_snow_shovel-2.png");
    background-size: contain;
    animation-duration: 2s;
    animation-iteration-count: calc(10);
    animation-name: shovel;
}

#snowShovel img {
    height: 100%;
    width: 100%;
}

@keyframes shovel {
    from {
        top: -800%;
        
    }

    10% {
        
        left: 47.8%;
    }

    20% {
        
        left: 48%;
    }

    30% {
        
    }

    40% {
        left: 47.3;
        top: -480%;
        
    }

    50% {
        left: 46.3%;
    }

    60% {
        left: 46.3%;
    }
    70% {
        left: 46.3%;
    }
    80% {
        left: 46.3%;
    }
    90% {
        left: 46.3%;
    }
    100% {
        left: 46.3%;
        
    }
    

    to {
        top: -500%;
        left: 46.3%;
    }



}

#growingTree {
    position: absolute;
    top: -1350%;
    left: 41.5%;
    height: 1500%;
    width: 17%;
    background-color: rgba(255, 0, 0, 0);
    background-image: url("../images/growing_tree_4.5.png");
    background-image: url("../images/growing_tree_1.5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    animation-duration: 10s;
    /* animation-iteration-count: calc(10); */
    animation-name: growTree;
}

@keyframes growTree {
    /* from {
        background-image: url("../images/growing_tree_1.5.png");
        background-size: cover;
    }

    50% {
        background-image: url("../images/growing_tree_2.5.png");
        background-size: cover;
    }

    to {
        background-image: url("../images/growing_tree_4.5.png");
        background-size: cover;
    } */

    10% {
        background-image: url("../images/growing_tree_1.5.png");

    }

    20% {
        background-image: url("../images/growing_tree_1.5.png");
    }

    25% {
        background-image: url("../images/growing_tree_1.5.png");
    }

    30% {
        background-image: url("../images/growing_tree_2.5.png")
    }

    50% {
        background-image: url("../images/growing_tree_2.5.png")
    }

    60% {
        background-image: url("../images/growing_tree_3.5.png")
    }

    75% {
        background-image: url("../images/growing_tree_3.5.png")
    }

    80% {
        background-image: url("../images/growing_tree_3.5.png")
    }

    85% {
        background-image: url("../images/growing_tree_4.5.png");
    }

    90% {
        background-image: url("../images/growing_tree_4.5.png");
    }

    100% {
        background-image: url("../images/growing_tree_4.5.png");
    }
}



#servicePageBreak2 {
    width: 80%;
    height: 8%;
    /* border-radius: 10px; */
    background-color: black;
    background-color: rgb(104, 80, 28);
    background-color: rgb(156, 97, 54);
    /* background-image: url("https://img.freepik.com/free-vector/brown-soil-texture-background_1308-20483.jpg"); */
    background-image: url(../images/background_dirt.avif);
    background-size: contain;
}

#servicePageBreakSnow2 {
    width: 80%;
    height: 8%;
    /* border-radius: 10px; */
    background-color: black;
    background-color: rgb(104, 80, 28);
    background-color: rgb(156, 97, 54);
    background-color: rgb(173, 173, 229);
    /* background-image: url("https://previews.123rf.com/images/scaliger/scaliger1912/scaliger191200083/136806983-background-of-snow-texture-plain-snowy-pure-landscape-scene-of-white-surface-in-winter-bright-fresh.jpg"); */
    background-image: url("../images/background_snow.jpg");
    background-size: contain;
}

#intro-quote {
    text-align: center;
    margin-top: 4%;
    font-size: 1.6rem;
    /* font-style: italic; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

#main-service-img {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
    height: 20%;
    width: 10%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px black;
}

#main-service-img img {
    border-radius: 50%;
    height: 90%;
    width: 60%;
}

#services-provided {
    height: 300vh;
    height: 350vh;
    
    /*Can remove the height for it just to fit content but gap wont work as a result so will need margin tops*/
    width: 100%;

    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 2%;
    
    /* justify-content: center;
    align-items: center; */

    /* background-color: aqua; */
    
}

.service1-content {
    height: 80vh;
    
    width: 100%;

    /* margin-left: 0%; */
    display: flex;
    
    
    /* background-color: yellow; */
}

.service1-img {
    margin-left: 5%;
    height: 100%;
    width: 50%;
}

.service1-img img {
    height: 100%;
    width: 100%;
    
}

.service1 {
    height: 50%;
    height: fit-content;

    /* background-color: red; */

    width: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 2%;
}



.services-title {
    font-size: 2rem;
    /* font-style: italic; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: orange; */
}

.service-list {
    list-style-type: square;
    color: rgb(100, 100, 100);

    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 3%;
    font-size: 1.5rem;
    justify-content: flex-start;
    padding-left: 10%;
    
}

.service1 button {
    margin-top: 10%;
    /* margin-left: 10%; */
    height: 45px;
    padding: .5%;
    /* width: fit-content; */
    width: 50%;
    background-color: white;
    border: 2px solid rgb(103, 139, 92);
    font-size: 14pt;
    border-radius: 5px;
}

.service1 button:hover {
    cursor: pointer;
    background-color: rgb(103, 139, 92);
    color: white;
}


#orderedList {
    
    font-weight: bold;
}

@media (max-width: 600px) {

    #service-images {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        /* gap: 1%; */
        height: 30%;
        height: 20%;
        width: 100%;
        /* border: 1px solid black; */

        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;

        padding-top: 0%;
        padding-left: 0%;
        padding-right: 0%;

        margin-bottom: 10%;
    }
    
    .service-img {
        /* margin-top: 2%;
    
        display: flex;
        justify-content: center;
        align-items: center; */
        height: 50%;
        width: 20%;

        width: 15%;
        border: 5px solid rgb(228, 195, 171);
        
        /* background-color: yellow;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        box-shadow: 0px 0px 10px 0px black; */
    }

    .service-img img {
        border-radius: 0%;
        height: 100%;
        width: 100%;
        object-fit: contain;
        
    }
    



    #services-provided {
        /* height: fit-content; */
        /* gap: 8%; */
        height: fit-content;
    }
    .service1-content {
        
        /* height: 80vh; */
        height: 33%;
        width: 100%;
        border: 2px solid blue;
        /* margin-left: 0%; */
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
        
        
        /* background-color: yellow; */
    }

    .service1-img {
        margin-left: 0%;
        height: 50%;
        width: 100%;
    }

    .service1 {
        height: 50%;
    
        /* background-color: red; */
    
        width: fit-content;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        margin-left: 2%;
    }

    #littleMower {
        display: flex;
        justify-content: center;
        align-items: center;


        position: absolute;
        top: -275%;
        left: 0%;
        height: 300%;
        width: 50%;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../images/orange_mower2.png");
        background-size: cover;
        animation-duration: 15s;
        
    }

    @keyframes mow-lawn {
        from {
            left: -10%;
        }
    
        50% {
            left: 68%;
            
            
        }
        to {
            /* transform: rotateY(180deg); */
            left: -15%;
            transform: rotateY(180deg)
        }
    }
    

    #snowShovel {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: -400%;
        left: 47.5%;
        height: 500%;
        width: 20%;
        background-color: rgba(0, 0, 0, 0);
        
        background-image: url("../images/orange_snow_shovel-2.png");
        background-size: cover;
        animation-duration: 2s;
        animation-iteration-count: calc(10);
        animation-name: shovel;
    }
    
    @keyframes shovel {
        from {
            top: -400%;
            
        }
        10% {
            
            left: 47.8%;
        }
        20% {
            
            left: 48%;
        }
        30% {   
        }
        40% {
            left: 47.3;
            top: -200%;   
        }
        50% {
            left: 46.3%;
        }
        60% {
            left: 46.3%;
        }
        70% {
            left: 46.3%;
        }
        80% {
            left: 46.3%;
        }
        90% {
            left: 46.3%;
        }
        100% {
            left: 46.3%;  
        }
        to {
            top: -100%;
            left: 46.3%;
        }
    
    }
    

    #growingTree {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: -740%;
        left: .5%;
        height: 800%;
        width: 100%;
        background-color: rgba(255, 0, 0, 0);
        background-image: url("../images/growing_tree_4.5.png");
        background-image: url("../images/growing_tree_1.5.png");
        background-size: contain;
        /* background-repeat: no-repeat;
        background-position: center; */
    
        animation-duration: 10s;
        /* animation-iteration-count: calc(10); */
        animation-name: growTree;
    }
    
    @keyframes growTree {
    
        10% {
            background-image: url("../images/growing_tree_1.5.png");
    
        }
    
        20% {
            background-image: url("../images/growing_tree_1.5.png");
        }
    
        25% {
            background-image: url("../images/growing_tree_1.5.png");
        }
    
        30% {
            background-image: url("../images/growing_tree_2.5.png")
        }
    
        50% {
            background-image: url("../images/growing_tree_2.5.png")
        }
    
        60% {
            background-image: url("../images/growing_tree_3.5.png")
        }
    
        75% {
            background-image: url("../images/growing_tree_3.5.png")
        }
    
        80% {
            background-image: url("../images/growing_tree_3.5.png")
        }
    
        85% {
            background-image: url("../images/growing_tree_4.5.png");
        }
    
        90% {
            background-image: url("../images/growing_tree_4.5.png");
        }
    
        100% {
            background-image: url("../images/growing_tree_4.5.png");
        }
    }

    
}

@media (min-width: 1200px) {
    
}